.search {
    display: flex;
    width: 100%;
    max-width: 48em;
    background: #ffffff;
}
.search__input {
    width: 100%;
    border: none;
    border-radius: inherit;
    background: transparent;
}
.search__input-wrapper {
    flex-grow: 1;
    padding: 3em 1.5em 3em 6em;
    background-image: url("../img/svg/search.svg");
    background-repeat: no-repeat;
    background-position: 3em 50%;
}
.search__submit {
    flex-grow: 1;
    max-width: 11.6em;
    border: none;
    padding: 3em;
    border-radius: inherit;
    background-color: #ffcc01;
}