.appartments {
    background-color: #f6f5f4;
}
.appartments__title {
    margin-bottom: 7.8em;
}
.appartments__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.appartments__appartment {
    width: calc(33% - 2em);
    @media(max-width: 690px) {
        width: calc(50% - 3em);
    }
    @media(max-width: 480px) {
        width: 100%;
    }
}