.font-62{
  font-size: 6.2em;
}
.font-50 {
  font-size: 5em;
}
.font-24{
  font-size: 2.4em;
}
.font-20 {
  font-size: 2em;
}
.font-18 {
  font-size: 1.8em;
}
.font-15 {
  font-size: 1.5em;
}
.font-12 {
  font-size: 0.75rem;
}

.bold {
  font-weight: 600;
}

.orange {
  color: #FFBC6B;
}
.black {
  color: #1f373d;
}
.white {
  color: #ffffff;
}
.red {
  color: #B8121A;
}
.gold {
  color: #FFBC6B;
}
.purpur {
  color: #464069;
}
.gray{
  color: #919eb1;
}

.right {
  text-align: right;
}